* {
    font-family: Poppins;
    box-sizing: border-box;
    margin: 0px;
}
.navbar-page{
    margin: auto;
    max-width: 1450px;
}
.navbar {
    width: 100%;
    height: 100px;
    background-color: #acaca9;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.img-nav{
    margin-left: 80px;
    margin-top: 10px;
}

.img1 {
    width: 750px;
    height: 500px;
    margin-left: 600px;
}

h1 {
    width: 450px;
    height: 150px;
    margin-left: 50px;
    margin-top: 75px;
    text-align: center;
    position: absolute;
}

h3 {
    position: absolute;
    margin-left: 50px;
    margin-top: 250px;

}

.btn1 {
    width: 150px;
    height: 40px;
    margin-top: 380px;
    background-color: rgb(88, 55, 236);
    position: absolute;
    margin-left: 50px;
}

h2 {
    margin-left: 500px;
}

p {
    margin-left: 430px;
}

.card1 {
    width: 450px;
    height: 275px;
    background-color: #2ecfc2;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.2);
}

.card2 {
    width: 450px;
    height: 275px;
    background-color: #2ecfc2;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.2);
    margin-top: 20px;
}


.card-container {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 25px;
}

.hamkorlik {
    margin-left: 30px;
}

.logotip {
    width: 150px;
    height: 80px;
}

.b1 {
    margin-left: 350px;
}

.b2 {
    margin-left: 350px;
}

.b3 {
    margin-left: 350px;
}

h4 {
    margin-left: 50px;
    margin-top: 200px;
    position: absolute;
}

h5 {
    margin-left: 50px;
    margin-top: 280px;
    position: absolute;
}

.imgg{
    width: 600px;
    height: 350px;
    margin-left: 700px;
}

.rasmlar1 {
    width: 400px;
    height: 300px;
    margin-left: 60px;
    object-fit: cover;
}
.rasmlar2 {
    width: 400px;
    height: 300px;
    margin-left: 30px;
    object-fit: cover;
}
.rasmlar3 {
    width: 400px;
    height: 300px;
    margin-left: 30px;
    object-fit: cover;
}

.fotter{
    width: 600px;
    width: 450px;
    margin-left: 60px;
}
.card_img{
    width: 450px;
    height: 275px;
    background-color: #2ecfc2;
    border-radius: 15px 15px 15px 15px;

}


